@font-face {
    font-family: "3270-Regular";
    src: url("3270-Regular.ttf");
}

body {
    background-image: url("city1.gif");
    /* background-image: url("city1.gif"); */
    background-size: cover;
    background-color: #000000;
    text-align: center;
    color: rgb(246, 246, 246);

    filter: blur(1px);

    font-family: "3270-Regular", monospace;
    font-size: 30px;
    font-weight: 500;
}

.header {
    line-height: 1px;
}

body>div>a>svg {
    padding-top: 30px;
    fill: rgb(210, 210, 210);
    width: 22px;
    height: 22px;
    float: center;
    margin: 30px
}
